@font-face {
    font-family: "Roboto";
    src: url("/fonts_2/RobotoCondensed-Light.ttf");
}

body{
    font-family: "Roboto";
    margin: 0px;
    padding-left: 3%;
    border-radius: 3000px;
    background-color: rgb(191, 232, 237);
    width: 337px;
    height: 666px;
}

header{
    width: 95%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

#icon img{
 height: 50px;
}

footer{
    width: 95%;
    height: 5%;
}




