@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoCondensed-Light.ttf");
}


button {
    font-family: "Roboto";
}

body{
   /* max-width: 545px; */
    height: 100vh;
    font-family: "Roboto";
    margin: 0px;
}

#wrapper{
    border-radius: 10px;
    width: 100%;

    display: flex;
    flex-direction: column; 
     align-items: center
}

#feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    border: 1px solid black;
    font-size: 22px;
    padding: 2%;
    background-color: white;

    position: absolute;
    top:30%;
    left: 22%;
    width: 50%;
    max-width: 396px;

    background-color: white;
    border-radius: 10px;
}

#feedback > button{
    width: 95%;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

#feedback > button:hover{
    background-color: white;
}

#feedback > button:active{
    background-color: white;
}

#feedback.visible{
    visibility: visible;
}

#feedback_background.visible{
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;

    width: 100%;
    top: 0;
    bottom: 0;
}

header{
    width: 95%;
    height: 8%;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}

#icon img{
 height: 50px;
}

footer{
    height: 10%;
}




