
main{
    height:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main > div{
width: 100%;
min-height: 60%;

}

.center_object{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    height: 30px;
    width: 100%;
    font-size: 15px;

}

label{  
    font-size: 17px;  
    display: flex;
    justify-content: left;
    margin-top: 10px;

}

.Paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_button{
    margin-top: 30%;;
    padding: 8%;
    width: 100%;
    font-size: 18px;

}

#where_to > p{
display: flex;
align-items: center;
justify-content: center;
}

#feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    border: 1px solid black;
    font-size: 18px;
    padding: 2%;

    position: absolute;
    top: 70vw;
    width: 70%;

    background-color: white;
    border-radius: 10px;

}

#feedback_background.visible{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;


}

#feedback.visible{
    visibility: visible;
}


