main {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}


#login_box{
    border-radius: 20px;
    margin-top: 5%;
    height: 5%;
    background-color: white;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#login button{
    height: 5%;
    font-size: 10px;
}

#game{
    height: 90%;
}
